<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/global_styles.css"/>
	<title><%= mapname %></title>
	<style>
		input, select{
			margin:3px;
			padding:3px;
		}
		.form-outline{
            border: 1px solid var(--main-foreground-color);
			display:inline-block;
			border-radius:3px;
			background-color:rgba(180,25,250,0.15);
			margin:5px;
			padding:5px;
			& :is(input[type="number"], select, input[type="submit"]){
				background-color: white;
	            border: 1px solid var(--main-foreground-color);
	            border-radius:3px;
			}
			& input[type="submit"]:hover{
            	filter:brightness(80%);
			}
		}
		.new-game{
			font-size:1.5em;
		}
		label{
			user-select:none;
		}
		main{
			width:fit-content;
			text-align:center;
			margin:auto;
			& > *{
				text-align:initial;
				display:inline-block;
			}
		}
	</style>
	<script>
		function setTimeInputActive(event){
			for(const elem of [...document.getElementsByName('time_limit_minutes'), ...document.getElementsByName('time_limit_seconds')]){
				elem.disabled = !event.target.checked
			}
		}
	</script>
</head>
<body>
	<%- include('navheader'); %>
	<main>
		<div>
			<h3>Create game on map <b><%= mapname %></b></h3>
			<div><%= description %></div>
			<br>
			<span style="background-color:lavender;padding:3px;">Contains <%= locationcount %> locations</span>
		</div>
		<br>
		<% if(highscoregameid){ %>
			<br><span><b>Your high score: </b><a href="/game/<%= highscoregameid %>"><%= score %> points, <%= Math.floor(elapsed/1000/60) %>:<%= (Math.floor(elapsed/1000)%60).toString().padStart(2, "0") %></a></span><br>
		<% } %>
		<br>
		<div>
			<form autocomplete="on" method="post" id="new-game-form" action="/newgame/<%= mapid %>">
				<div class="form-outline">
					<select name="freedom">
						<option value="moving" selected>Moving</option>
						<option value="nm">No Moving</option>
						<option value="nmpz">No Moving, Panning or Zooming</option>
					</select>
					<br>
					<label for="time-limit-box">Time Limit </label><input type="checkbox" name="time_limit" id="time-limit-box" onchange="setTimeInputActive(event)"><input type="number" min="0" max="999" name="time_limit_minutes"> min <input type="number" min="0" max="59" name="time_limit_seconds"> sec 
					<br>
					<input type="submit" value="New game" class="new-game"/>
					<br>
					<input type="checkbox" name="challenge" id="challenge-box"><label for="challenge-box">Challenge others</label>
				</div>
			</form>
			<a href="/createduel/<%= mapid %>" class="fake-button">Duel in <%= mapname %></a>
		</div>
	</main>
	<script>
		window.addEventListener('load', () => {
			setTimeInputActive({target:document.getElementsByName("time_limit")[0]})
		})
	</script>
</body>
</html>