<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= mapname %></title>
	<style>
		body{
			font-family:sans-serif;
		}
		input, select{
			margin:3px;
			padding:3px;
		}
		.form-outline{
			border: 1px solid black;
			display:inline-block;
			margin:5px;
			padding:5px;
		}
		.new-game{
			font-size:1.5em;
		}
	</style>
	<script>
		function setTimeInputActive(event){
			for(const elem of [...document.getElementsByName('time_limit_minutes'), ...document.getElementsByName('time_limit_seconds')]){
				elem.disabled = !event.target.checked
			}
		}
	</script>
</head>
<body>
	<%- include('navheader'); %>
	<h3>Create game on map <b><%= mapname %></b></h3>
	<div><%= description %></div>
	<br>
	<span style="background-color:lavender;padding:3px;">Contains <%= locationcount %> locations</span>
	<br>
	<% if(highscoregameid){ %>
		<br><span><b>Your high score: </b><a href="/game/<%= highscoregameid %>"><%= score %> points, <%= Math.floor(elapsed/1000/60) %>:<%= (Math.floor(elapsed/1000)%60).toString().padStart(2, "0") %></a></span><br>
	<% } %>
	<br>
	<form autocomplete="on" method="post" id="new-game-form" action="/newgame/<%= mapid %>">
		<div class="form-outline">
			<select name="freedom">
				<option value="moving" selected>Moving</option>
				<option value="nm">No Moving</option>
				<option value="nmpz">No Moving, Panning or Zooming</option>
			</select>
			<br>
			<label for="time-limit-box">Time Limit </label><input type="checkbox" name="time_limit" id="time-limit-box" onchange="setTimeInputActive(event)"><input type="number" min="0" max="999" name="time_limit_minutes"> min <input type="number" min="0" max="59" name="time_limit_seconds"> sec 
			<br>
			<input type="submit" value="New game" class="new-game"/>
		</div>
		<br>
		<input type="checkbox" name="challenge" id="challenge-box"><label for="challenge-box">Challenge</label>
	</form>
	<br/>
	<form autocomplete="off" method="post"  action="/createduel/<%= mapid %>">
		<input type="submit" value="Duel in <%= mapname %>">
		</input>
	</form>
	<script>
		window.addEventListener('load', () => {
			setTimeInputActive({target:document.getElementsByName("time_limit")[0]})
		})
	</script>
</body>
</html>