<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= mapname %> challenge</title>
	<style>
		body{
			font-family:sans-serif;
		}
		input{
			margin:3px;
			padding:3px;
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<h3>Challenge from <u><%=username%></u></h3>
	<h4>Map: <%=mapname%></h4>
	<b>Rules:</b><br>
	<% for(const key of ["Moving","Panning","Zooming"]){ %>
		<%-`${key}: ${gameinfo.rules[key.toLowerCase()] ? '<span style="color:green;">Allowed</span>' : '<span style="color:red;">Not allowed</span>'}`%><br>
	<% } %>
	Time limit: <%=gameinfo.rules.time_limit ? ((limit) => limit<60000 ? `${limit/1000} seconds` : `${Math.floor(limit/1000/60)}:${(limit/1000%60).toString().padStart(2,"0")}`)(gameinfo.rules.time_limit) : "Unlimited"%>
	<br><br>
	<form method="post" id="new-game-form" action="/challenge/<%= gameid %>">
		<input type="submit" value="Accept challenge" />
	</form>
</body>
</html>