<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Duel lobby</title>
	<style>
		body{
			font-family:sans-serif;
		}
		.rules-form{
			border:1px solid black;
			margin:5px;
			padding:5px;
			line-height:2em;
		}
		.room-content{
			display:flex;
			flex-direction:row;
			flex-wrap:wrap;
		}
		input[readonly]{
			background-color:gray;
		}
		.player-list-container{
			border:1px solid black;
			margin:5px;
			padding:5px;
		}
		.error-container{
			background-color: pink;
			margin: 5px;
			padding: 5px;
		}
		.start-button{
			font-size: 1.5em;
			margin:10px;
		}
		#team_count, #max_player_count{
			width:4em;
		}
		.team-name-input{
			font-size:110%;
		}
		.user-list-element{
			padding:1px;
		}
		.spacer{
			&::marker{
				content:"";
			}
		}
	</style>
	<script>
		var global_teams;
		var global_user_info;
		var global_team_order = [];
		function update_rules(rules){
			for(const suffix of ['','_after_guess']){
				for(const elem of document.getElementsByName('time_limit'+suffix)){
					elem.checked = (rules["time_limit"+suffix] != null);
				}
				for(const elem of [...document.getElementsByName('time_limit_minutes'+suffix), ...document.getElementsByName('time_limit_seconds'+suffix)]){
					elem.readOnly = (rules["time_limit"+suffix] == null);
				}
				if(rules["time_limit"+suffix] != null){
					for(const elem of document.getElementsByName('time_limit_minutes'+suffix)){
						elem.value = Math.floor(rules["time_limit"+suffix]/1000/60)
					}
					for(const elem of document.getElementsByName('time_limit_seconds'+suffix)){
						elem.value = Math.floor(rules["time_limit"+suffix]/1000%60)
					}
				}
			}
			for(const elem of document.getElementsByName('freedom')){
				if(rules.moving){
					elem.value = "moving"
				}
				else if(rules.zooming){
					elem.value = "nm";
				}
				else{
					elem.value = "nmpz";
				}
			}
			for(const elem of document.getElementsByName("max_health")){
				elem.value = rules.max_health;
			}
			for(const elem of document.getElementsByName("public")){
				elem.checked = rules.public;
			}
			for(const elem of document.getElementsByName("max_player_box")){
				elem.checked = (rules.max_players != null)
			}
			for(const elem of document.getElementsByName("max_player_count")){
				if(rules.max_players==null){
					elem.readOnly = true;
				}
				else{
					elem.readOnly = false;
					elem.value = rules.max_players
				}
			}
			if(typeof rules.teams=='object' && rules.teams != null){
				for(const elem of document.getElementsByName("teams")){
					elem.checked = true;
				}
				for(const elem of document.getElementsByName("team_count")){
					elem.readOnly = false;
					elem.value = Object.keys(rules.teams).length;
				}
			}
			else{
				for(const elem of document.getElementsByName("teams")){
					elem.checked = false;
				}
				for(const elem of document.getElementsByName("team_count")){
					elem.readOnly = true;
				}
			}
			global_teams = rules.teams;
			if(global_user_info!=null){
				update_player_list(global_user_info);
			}
			const multipliers_enabled = Boolean(rules.first_multiplier_round && rules.multiplier_increase)
			for(const elem of document.getElementsByName("multipliers")){
				elem.checked = multipliers_enabled;
			}
			for(const elem of document.getElementsByClassName("multipliers-adjustment")){
				elem.style.display = multipliers_enabled ? "revert" : "none";
			}
			if(multipliers_enabled){

				for(const elem of document.getElementsByName("multipliers_step")){
					elem.value = rules.multiplier_increase;
				}
				for(const elem of document.getElementsByName("multipliers_start")){
					elem.value = rules.first_multiplier_round;
				}
			}
		}
		function update_player_list(info){
			new Set(info?.users).difference(new Set(global_user_info?.users)).forEach((user)=>{
				if(Notification?.permission === "granted" 
				&& document.getElementById("notification-check").checked){
					const img = "/favicon.ico"
					const text = `${user} joined the lobby`
					const notification = new Notification("Duel update", {body:text, icon:img});
				}
			})
			global_user_info = info;
			const {owner, users} = info;

			if(global_teams!=null){
				const new_team_order = []
				const found_teams = new Set();
				for(const i in global_team_order){
					team = global_team_order[i];
					if(global_teams[team]){
						new_team_order[i] = team;
						found_teams.add(team);
					}
				}
				let i=0;
				for(const team in global_teams || {}){
					if(found_teams.has(team)){
						continue;
					}
					while(new_team_order[i]!=null){
						i++;
					}
					new_team_order[i] = team;
				}
				global_team_order = new_team_order.filter(Boolean);
			}
			const create_user_entry = (user)=>{
				const li = document.createElement('li');
				li.classList.add("user-list-element");
				const txt = document.createTextNode('');
				if(global_teams!=null){
					txt.textContent += " ";
					const select = document.createElement('select');
					select.classList.add("team-selector");
					select.dataset.user = user
					const unassigned_option = document.createElement('option');
					unassigned_option.value = "";
					unassigned_option.innerHTML = "Unassigned"
					select.appendChild(unassigned_option);
					select.value = unassigned_option.value;
					for(const team of global_team_order){
						const option = document.createElement('option');
						option.value = team;
						option.textContent = team;
						select.appendChild(option);
						if(global_teams?.[team]?.includes(user)){
							select.value = team;
						}
					}
					li.appendChild(select);
				}
				txt.textContent += user;
				if(user === owner){
					txt.textContent += " (Leader)";
				}
				if(user === "<%= username %>"){
					li.style.backgroundColor='#fffab0';
				}
				li.appendChild(txt);
				return li;
			}
			for(const root of document.getElementsByClassName("player-list")){
				root.innerHTML = '';
				const found_users = new Set();
				for(const team of global_teams ? global_team_order : []){
					const team_li = document.createElement('li');
					const inp = document.createElement('input');
					inp.type = "text"
					inp.value = team
					inp.name = team
					inp.classList.add('team-name-input')
					team_li.appendChild(inp);
					root.appendChild(team_li);
					const players_ul = document.createElement('ul');
					for(const player of global_teams[team] ?? []){
						if(!users.includes(player)){
							continue;
						}
						players_ul.appendChild(create_user_entry(player));
						found_users.add(player);
					}
					team_li.appendChild(players_ul);
				}
				const spacing_li = document.createElement('li');
				spacing_li.classList.add("spacer");
				spacing_li.appendChild(document.createElement('hr'));
				root.appendChild(spacing_li);
				for(const user of users){
					if(found_users.has(user)){
						continue;
					}
					root.appendChild(create_user_entry(user));
				}
			}
			
			for(const btn of document.getElementsByClassName("start-button")){
				btn.disabled = (owner != "<%= username %>" || users.length<2);
				btn.style.display = (owner != "<%= username %>") ? "none" : "revert";

			}
			for(const tag of ["input","select"]){
				for(const elem of document.getElementById("rules-form").getElementsByTagName(tag)){
					elem.disabled = (owner != "<%= username %>")
				}
			}

		}
		function show_error(err){
			for(const elem of document.getElementsByClassName("error-container")){
				elem.style.display = "block";
			}
			for(const elem of document.getElementsByClassName("error-message")){
				elem.textContent = err.reason
			}
		}
		async function copyLink(){
			await navigator.clipboard.writeText(document.getElementById("challengelink").textContent);
			for(const btn of document.getElementsByClassName("copybutton")){
				btn.textContent = "Copied"
			}
		}
	</script>
</head>
<body>
	<%- include('navheader'); %>
	<div style="display:none;" class="error-container">
		Disconnected:
		<div class="error-message"></div>
		(try reloading)
	</div>
	<br>
	Join link: <a id="challengelink" href="erm">erm</a> <button class="copybutton" onclick="copyLink()">Copy</button>
	<br>
	<br>
	Map: <a href="/creategame/<%=mapid%>"><b><%= mapname %></b></a>
	<br>
	<form class="room-content" autocomplete="off" id="rules-form">
		<span class="rules-form">
			<label for="public-box">Public</label><input type="checkbox" name="public" id="public-box">
			<br>
			<label for="max-player-box">Max players</label><input type="checkbox" id="max-player-box" name="max_player_box"><input type="number" min="2" value="2" name="max_player_count" id="max_player_count" >
		</span>
		<span class="rules-form">
			<select name="freedom">
				<option value="moving" selected>Moving</option>
				<option value="nm">No Moving</option>
				<option value="nmpz">No Moving, Panning or Zooming</option>
			</select>
			<br>
			<label for="time-limit-box">Time Limit </label><input type="checkbox" name="time_limit" id="time-limit-box"><input type="number" min="0" max="999" name="time_limit_minutes"> min <input type="number" min="0" max="59" name="time_limit_seconds"> sec 
			<br>
			<label for="time-limit-after-guess-box">Time Limit after guess </label><input type="checkbox" name="time_limit_after_guess" id="time-limit-after-guess-box"><input type="number" min="0" max="999" name="time_limit_minutes_after_guess"> min <input type="number" min="0" max="59" name="time_limit_seconds_after_guess"> sec 
			<br>
			<label for="max-health-input">Starting Health </label><input type="number" name="max_health" id="max-health-input" step="1000" min="0">
			<br>
			<label for="multipliers-box">Multipliers </label><input type="checkbox" name="multipliers" id="multipliers-box">
			<ul style="margin:0">
				<li class="multipliers-adjustment"><input type="number" min="2" max="999" name="multipliers_start"> First round</li>
				<li class="multipliers-adjustment"><input type="number" min="0" max="1" step="0.1" name="multipliers_step"> Increase rate</li>
			</ul>
		</span>
		<span class="player-list-container">
			<label for="team-box">Teams</label><input type="checkbox" id="team-box" name="teams"><input type="number" min="2" name="team_count" id="team_count" value="2">
			<br>
			<b>Players</b>
			<ul class="player-list">
			</ul>
		</span>
	</form>
	<button disabled class="start-button">Start Duel</button>
	<br>
	<input type="checkbox" id="notification-check" class="notification-check" autocomplete="off"/><label for="notification-check">Join notifications</label>
	<script>

window.addEventListener('load', () => {
	const path = window.location.pathname.split('/');
	const duelid = path[path.length-1];
	const url = (window.location.protocol=="https:" ? "wss:" : "ws:")+"//"+window.location.host+"/duelroomsession/"+duelid;
	const socket = new WebSocket(url);
	socket.addEventListener("close", (evt)=>show_error(evt));
	socket.addEventListener("message", msg => {
		//console.log(msg.data)
		const data = JSON.parse(msg.data);
		const {type,info} = data;
		if(type == "update_rules"){
			update_rules(info);
		}
		else if(type == "update_player_list"){
			update_player_list(info);
		}
		else if(type == "start_duel"){
			window.location.replace("/duel/"+duelid);
		}
	})
	const form = document.getElementById("rules-form");
	form.addEventListener('change',(evt)=>{
		const fd = Object.fromEntries((new FormData(form)).entries());
		const info = {};
		info.moving = (fd["freedom"]=="moving");
		info.panning = (info.zooming = (fd["freedom"] != "nmpz"));
		info.max_health = fd["max_health"]
		for(const suffix of ['','_after_guess']){
			info["time_limit"+suffix] = fd["time_limit"+suffix] 
				? 1000 * ((parseInt(fd["time_limit_minutes"+suffix])||0)*60+(parseInt(fd["time_limit_seconds"+suffix])||0)) 
				: null;
		}
		if(fd["teams"]){
			info.teams = {};
			for(const elem of document.getElementsByClassName("team-selector")){
				const {user} = elem.dataset;
				for(const team of elem.options){
					if(!team.value){
						continue;
					}
					info.teams[team.value] ??= [];
				}
				if(elem.value){
					info.teams[elem.value].push(user);
				}
			}
			for(const inp of document.getElementsByClassName('team-name-input')){
				if(!(inp.value && inp.name) || inp.value==inp.name){
					continue;
				}
				info.teams[inp.value] = info.teams[inp.name]
				delete info.teams[inp.name];
			}
			const team_count = Math.max(2,document.getElementById("team_count").value);
			const team_name_set = new Set(Object.keys(info.teams));
			for(let i=1; Object.keys(info.teams).length<team_count; i++){
				const teamname = `Team ${i}`;
				if(!team_name_set.has(teamname)){
					info.teams[teamname] = []
				}
			}
			const team_order = global_team_order.length ? global_team_order : [...Object.keys(info.teams)]
			while(Object.keys(info.teams).length>team_count){
				delete info.teams[team_order[team_order.length-1]]
			}
		}
		else{
			info.teams = null;
		}
		info.max_players = fd["max_player_box"] ? fd["max_player_count"] : null;
		info.public = fd["public"];
		info.first_multiplier_round = fd["multipliers"] ? (Number(fd["multipliers_start"]) || 5) : null;
		info.multiplier_increase = fd["multipliers"] ? (Number(fd["multipliers_step"]) || 0.5) : null;
		socket.send(JSON.stringify({
			type:"update_rules",
			info
		}));
	});
	for(const btn of document.getElementsByClassName("start-button")){
		btn.addEventListener("click", ()=>{
			socket.send(JSON.stringify({type:"start_duel"}));
		});
	}

	const elem = document.getElementById("challengelink");
	elem.textContent = window.location.href;
	elem.href = elem.textContent;

	const noti = document.getElementById("notification-check")
	noti.addEventListener("change", (e)=>{
		if(e.target.checked){
			Notification?.requestPermission().then(permission=>{
				if(permission!=="granted"){
					e.target.checked = false;
				}
			})
		}
	})
	navigator?.permissions?.query({name:"notifications"})?.then(noti_perm=>{
		noti_perm.addEventListener('change',()=>noti.checked = (noti_perm.state === 'granted'))
	})
	
})
	</script>
</body>
</html>