<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/global_styles.css"/>
	<title><%= mapname %></title>
    <script src="/spaify.js"></script>
	<style>
		input, button{
			margin:3px;
			padding:3px;
		}
		.startbutton{
			font-size:1.5em;
		}
	</style>
</head>
<body>
	<%- include('navheader'); %>
	<h3>Challenge on map <b><%= mapname %></b></h3>
	Challenge link: <%- include('sharelink', {url:"/challenge/"+gameid}); %>
	<br>
	<a href="/game/<%= gameid %>" class="fake-button startbutton">Start game</a>
</html>